.lightning-button {
  background-image: url("https://i.pinimg.com/originals/ee/f5/24/eef52449d5cb07495ddee33ae9bb2904.gif");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 8px 10px;
  text-align: center;
  font-family: "Goldman";
  font-size: 16px;
  border-radius: 16px;
  border: solid 2px white;
  height: 40px;
  -webkit-text-stroke: 1px red;
  text-decoration: none;
}