.cards {
  display: flex;
  grid-gap: 10px;
  margin: 20px;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border: solid 1px red;
}

.card {
  height: 200px;
  width: 200px;
  align-items: center;
  border: solid 1px blue;
  text-align: end;
  a {
    font-family: "Goldman";;
    color: purple;
    -webkit-text-stroke: 1px white;
    position:absolute;
    bottom:30px;
    font-size: 30px;
  }
}

