.navbar-lewagon {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background: rgb(206, 53, 137);
  height: 50px;
  padding: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon h1 {
  font-family: "Goldman";
  color: white;
  vertical-align: middle;
  margin-bottom: 0;
  line-height: 0;
}